<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-up">
            <img src="../../assets/cards/fruits.jpeg" alt="">
            <h1>Fruits</h1>
            <p>Fresh, vibrant vegetables for cooking, salads, soups, and healthy meals. </p>
            <button class="btn ccolor" >ExploreNow</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-up">
            <img src="../../assets/cards/vegetables.jpeg" alt="">
            <h1>Vegetables</h1>
            <p>Juicy, seasonal fruits bursting with flavor and packed with nutrients.</p>
            <button class="btn ccolor">ExploreNow</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-up">
            <img src="../../assets/cards/fruits.jpeg" alt="">
            <h1></h1>
            <p>Premium seafood, fresh catch of the day, for gourmet cooking. </p>
            <button class="btn ccolor">ExploreNow</button>
        </div>
    </div>
</div>