<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-left">
            <img src="../../assets/cards/fruits.jpeg" alt="">
            <h1>Fruits</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium consequatur voluptatem eligendi
                unde. Accusamus corporis officia ipsum voluptates tempore autem eius voluptate quibusdam, debitis
                repudiandae! Impedit sint quae provident!</p>
            <button class="btn ccolor" >ExploreNow</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-up">
            <img src="../../assets/cards/vegetables.jpeg" alt="">
            <h1>Vegetables</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium consequatur voluptatem eligendi
                unde. Accusamus corporis officia ipsum voluptates tempore autem eius voluptate quibusdam, debitis
                repudiandae! Impedit sint quae provident!</p>
            <button class="btn ccolor">ExploreNow</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-right">
            <img src="../../assets/cards/fruits.jpeg" alt="">
            <h1>Meat</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laudantium consequatur voluptatem eligendi
                unde. Accusamus corporis officia ipsum voluptates tempore autem eius voluptate quibusdam, debitis
                repudiandae! Impedit sint quae provident!</p>
            <button class="btn ccolor">ExploreNow</button>
        </div>
    </div>
</div>