
.card{
    margin: 0 10px;
    border: none;
    box-shadow: 0.5px 0.5px 5px #f3a6a6;
    margin-bottom: 30px;
}
.ccolor{
    background-color:lightgreen !important;
}
button{
    max-width: 50%;
    margin-left: 75px;
    margin-bottom: 10px;
}
h1{
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    margin: 15px;
    font-size: 200;
}