.banner {
    background-image: url("store.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 15%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}